.page-template-author-list {
  @media screen and (min-width: 767px){
    overflow-x: hidden;
  }
  margin: 40px;
  .mega-container {
    #primary {
      width: 100%;
      .grid {
        text-align: center;
        .grid-item {
          display: inline-block;
          @media screen and (max-width: 767px) {
            width: 100% !important;
            height: 300px !important;
          }
          position: relative;
          border: 2px @background solid;
          background-position: center;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(1);
            background: fade(black, 50%);
            @media screen and (min-width: 767px) {
              transform: scale(0);
              background: none;
              opacity: 0;
            }
            text-align: center;
            transition: ease all 0.3s;
            cursor: pointer;
            pointer-events: all;
            opacity: 1;
            width: 100%;
            height: 100%;
          }
          .author-del {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            bottom: 0;
            top: 0;
            .star-5, .rating-stars, .author_name {
              opacity: 1;
              margin-top: 10px;
              z-index: 9999;
              color: @onaccent;
              font-size: 16px;
              position: relative;
            }
            .author_name {
              font-size: 18px;
              padding: 20px;
              border-bottom: 2px solid @onaccent;
            }
            .stars {
              float: none;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: inline-block;
              text-align: left;
              float: none;
              .star-5, .rating-stars {
                float: none;
              }
              .rating-stars {
                top: -32px;
                position: relative;
              }
            }
          }

          &:hover {
            transition: ease all 0.5s;
            &:before {
              transform: scale(1);
              background: fade(black, 50%);
              opacity: 1;
              width: 100%;
              height: 100%;
            }
            .author-del {
              position: absolute;
              left: 0;
              right: 0;
              text-align: center;
              margin: auto;
              bottom: 0;
              top: 0;
              .star-5, .rating-stars, .author_name {
                opacity: 1;
                margin-top: 10px;
                z-index: 9999;
                color: @onaccent;
                font-size: 16px;
                position: relative;
              }
              .author_name {
                font-size: 18px;
                padding: 20px;
                border-bottom: 2px solid @onaccent;
              }
              .stars {
                float: none;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: inline-block;
                text-align: left;
                float: none;
                .star-5, .rating-stars {
                  float: none;
                }
                .rating-stars {
                  top: -32px;
                  position: relative;
                }
              }
            }
          }
          @media screen and (min-width: 767px) {
            .author-del {
              .star-5, .rating-stars, .author_name {
                opacity: 0;
              }
            }
          }
          @media screen and (min-width: 767px) {
            &:first-child {
              top: 12px !important;
            }

            &:nth-child(2n) {
              top: -40px !important;
            }

            &:nth-child(3n) {
              top: 0px !important;
            }

            &:nth-child(4n) {
              top: -25px !important;
            }
            &:nth-child(5n) {
              top: -40px !important;
            }
          }
        }
      }
      @media screen and (min-width: 767px) {

        .item1, .item4, .item7 {
        height: 300px;
      }
      .item2, .item8 {
        height: 280px;
      }
      .item3, .item6 {
        height: 250px;
      }
      .item5 {
        height: 350px;
      }
      .item1, .item3, .item8 {
        width: 18%;
      }
      .item2, .item4 {
        width: 20%;
      }
      .item7 {
        width: 30%;
      }
        .item6{
          width: 30%;
        }
      .item4, .item5 {
        width: 20%;
      }
        .item2{
          width: 36%;
        }
    }
    }
  }

}

//Author Profile Page
.author{
  overflow-x: hidden;
  .author-profile{
    @media screen and (max-width: 991px){
      text-align: center;
      .star-fill,.star-blank{
        text-align: left;
      }
    }
    img{
      width: 80%;
      border: 7px solid darken(@onaccent,10%);
      border-radius: 50%;
      text-align: center;
    }
    h2{
      margin-bottom: 30px;
    }
    .rating-author {
      margin: 20px 0px;
      border-bottom: 2px solid @accent;
      .star-fill,.star-blank{
        font-size: 16px;
      }
      .star-fill{
        position: relative;
        top: -21px;
      }
    }
    .details{
      .del-val {
        float: left;
        font-size: 14px;
        margin: 10px 0px;
        line-height: 1.1;
        padding: 0px 10px;
      }
      h4{
        float: left;
        font-size: 16px;
      }
    }
  }
  .author-posts{
    @media screen and (max-width: 991px){
      margin-top: 20px;
      display: inline-block;
    }
    h2{
      margin-bottom: 30px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .no-posts{
      text-align: center;
    }
  }
}