@import 'variables';
@import 'functions';

@background: beige;
@sbg: darken(@background, 6%);
@content: #333;

@accent: brown;
#masthead h1.site-title a {
	color: @accent !important;
}
@import 'main';
@import 'woocommerce'; 