@import 'variables';
@import 'woocommerce'; 

@background: black;
@sbg: #333;

@import 'main';

/* This is the Dark Less File, and is meant to override the main less file. */  

.mega-container, #site-navigation, #top-bar {
	background: lighten(@background,10%);
	border: solid 1px lighten(@background,15%);
} 
#site-navigation, #top-bar {
	border-left: none;
	border-right: none;
}

input[type=search], input[type=text], textarea {
	background: black;  
	border: solid 1px @sbg;
}
.slider-wrapper .nivoSlider {
	background: @background;
}
.grid .out-thumb h1 a {
	color: #A8A8A8;
}
.grid .out-thumb .postedon {
	color: #5f5f5f;
	a {
		color: #5c5c5c;
	}
}
#secondary .widget ul li, .grid {
	border-bottom-color: #1f1f1f;
}
#secondary .widget_recent_entries ul li:before, #secondary .widget_recent_comments ul li:before, #secondary .widget_categories ul li:before, #secondary .widget_pages ul li:before, #secondary .widget_archive ul li:before, #secondary .widget_meta ul li:before, #secondary .widget_nav_menu ul li:before, #footer-sidebar .footer-column .widget_recent_entries ul li:before, #footer-sidebar .footer-column .widget_recent_comments ul li:before, #footer-sidebar .footer-column .widget_categories ul li:before, #footer-sidebar .footer-column .widget_pages ul li:before, #footer-sidebar .footer-column .widget_archive ul li:before, #footer-sidebar .footer-column .widget_meta ul li:before, #footer-sidebar .footer-column .widget_nav_menu ul li:before {
	color: #4a4a4a;
}
#secondary .widget_tag_cloud .tagcloud a {
	color: #aeaeae;
	&:hover {
		color: #aeaeae;

	}
}
#footer-sidebar .footer-column .widget_tag_cloud .tagcloud a {
	color: #cdcdcd;
	&:hover {
		color: #cdcdcd;
	}
}
#secondary .widget_protopress_rp .rp-date {
	color: #525252;
}
#footer-sidebar .footer-column .widget ul li {
	border-bottom-color: #252525;
}
#footer-sidebar {
	background: #1d1d1d;
	border-top-color: #343434;
	margin-top: 50px;
}

#site-navigation ul li ul.sub-menu a, #site-navigation ul li ul.children a {
	&:hover {
		background: lighten(@sbg,10%);
	}
}
#primary-mono h1.entry-title {
	color: #6b6b6b;
}
#primary-mono .entry-meta, #primary-mono .entry-footer, #primary-mono .featured-image, #primary-mono .nav-links {
	border-bottom-color: #4a4a4a;
}
#primary-mono .entry-footer {
	border-top-color: #4a4a4a;
}
code {
	background: #333;
}
body.single, body.page {
	.mega-container {
		margin-top: 50px;
	}
}
#respond h3#reply-title {
	color: #444;
}
blockquote {
	border-left-color: #222;
}

.page-header h1 {
	color: #666;
	border-bottom-color: #3d3d3d;
}
#top-bar .social-icons a:hover {
	background: @sbg;
}
.latest-hap .sb-description h3 {
	color: white;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: darken(@sbg,5%) solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  border-color: darken(@sbg,5%);
}
#top-bar #searchicon {
	border-color: darken(@sbg,5%);
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: white;
}
::selection {
	color: black;
    background: white;
}

.slicknav_menu {
		background: #141414;
		border-bottom-color: #222;
	}
.slicknav_btn {
		background: #222;
		border: solid 1px #333;
}