/* Globals */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes showreadmore {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes showreadmore {
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes showex {
  100% {
    opacity: 1;
  }
}
@keyframes showex {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showrmbox {
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes showrmbox {
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.body-font {
  font-family: "Khula", sans-serif;
}
.title-font {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Khula", sans-serif;
  background: #fff;
  word-wrap: break-word;
}
.mega-container {
  background: #fff;
  max-width: 1170px;
  margin: auto;
  margin-top: 20px;
  overflow: visible;
}
a,
a:active {
  color: #e10d0d;
  cursor: pointer;
}
a:hover,
a:active:hover {
  text-decoration: none;
}
.container {
  margin: auto;
}
.white-text {
  color: white;
}
/* ---------- Header ------------- */
#top-bar {
  background: #f4f4f4;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  #top-bar .social-icons {
    text-align: center;
  }
}
#top-bar .social-icons a {
  background: #fff;
  padding: 5px 10px;
  padding-top: 9px;
  color: #666;
  float: right;
  margin-right: 6px;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}
@media screen and (max-width: 600px) {
  #top-bar .social-icons a {
    float: none;
  }
}
#top-bar .social-icons a:hover {
  background: #e1e1e1;
}
#top-bar #searchicon {
  background: #f2f2f2;
  border: solid 2px #ddd;
  padding-top: 6px;
  padding-bottom: 4px;
}
#masthead {
  text-align: left;
  min-height: 220px;
}
#masthead #text-title-desc {
  clear: none;
  float: left;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  #masthead #text-title-desc {
    text-align: center;
    float: none;
  }
}
#masthead h1.site-title {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0px;
}
#masthead h1.site-title a:hover {
  color: #e10d0d;
}
#masthead h2.site-description {
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
  color: #666;
}
.site-branding {
  padding: 45px 0;
  overflow: hidden;
  float: left;
}
@media screen and (max-width: 767px) {
  .site-branding {
    float: none;
    text-align: center;
  }
}
#site-logo {
  display: inline-block;
  float: left;
}
@media screen and (max-width: 767px) {
  #site-logo {
    float: none;
    text-align: center;
  }
}
#top-ad {
  float: right;
  margin: 45px 0;
}
@media screen and (max-width: 767px) {
  #top-ad {
    text-align: center;
    float: none;
    margin-top: -5px;
  }
  #top-ad .adcontainer {
    margin: auto;
  }
}
#top-ad .adcontainer {
  max-width: 468px;
  overflow: auto;
}
#jumbosearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);
  z-index: 99;
  text-align: center;
  display: none;
}
#jumbosearch .form {
  margin-top: 20%;
}
#jumbosearch .form label {
  width: 80%;
  text-align: center;
}
#jumbosearch .form input[type=search] {
  background: none;
  outline: none;
  padding: 20px;
  font-size: 28px;
  border: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0;
  color: white;
  width: 80%;
  text-align: center;
  clear: both;
}
#jumbosearch .form input[type=submit] {
  display: none;
  text-transform: uppercase;
}
#jumbosearch .closeicon {
  position: absolute;
  right: 30px;
  top: 40px;
  color: #eee;
  font-size: 27px;
  padding: 15px;
  cursor: pointer;
}
/* -------- Nav Menu ---------- */
#site-navigation {
  float: left;
  background: #f4f4f4;
}
#site-navigation ul {
  /* for the Currently active page */
}
#site-navigation ul li a {
  padding: 10px;
  color: #888;
  font-weight: 400;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}
#site-navigation ul li a:hover {
  background: #ececec;
}
#site-navigation ul li:hover a {
  background: #ececec;
}
#site-navigation ul li ul li .menu-desc {
  display: none;
}
#site-navigation ul li ul.sub-menu,
#site-navigation ul li ul.children {
  background: #ececec;
  top: 60px;
  display: block;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  perspective: 1000;
  -webkit-perspective: 1000;
  transform-origin: top;
  -webkit-transform-origin: top;
  transform: perspective(350px) rotateX(-90deg);
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -moz-transform: perspective(350px) rotateX(-90deg);
}
#site-navigation ul li ul.sub-menu li ul,
#site-navigation ul li ul.children li ul {
  transform-origin: left;
  -webkit-transform-origin: left;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  left: 100%;
  top: 0;
  opacity: 0;
  -webkit-transform: rotateY(65deg) !important;
  transform: rotateY(65deg) !important;
  -moz-transform: rotateY(65deg) !important;
}
#site-navigation ul li ul.sub-menu li ul li ul,
#site-navigation ul li ul.children li ul li ul {
  display: none !important;
}
#site-navigation ul li ul.sub-menu li:hover,
#site-navigation ul li ul.children li:hover {
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  /* -webkit-transition: 0.2s all ease !important; */
}
#site-navigation ul li ul.sub-menu li:hover ul,
#site-navigation ul li ul.children li:hover ul {
  opacity: 1;
  transform: rotateY(5deg) !important;
  -webkit-transform: rotateY(5deg) !important;
  -moz-transform: rotateY(5deg) !important;
}
#site-navigation ul li ul.sub-menu a,
#site-navigation ul li ul.children a {
  padding: 8px 15px;
  font-weight: lighter;
  font-size: 14px;
  transition: 0.4s background ease, 0.6s padding ease;
}
#site-navigation ul li ul.sub-menu a:hover,
#site-navigation ul li ul.children a:hover {
  background: #fff;
  padding-left: 19px;
}
#site-navigation ul li:hover {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease !important;
}
#site-navigation ul li:hover ul.sub-menu,
#site-navigation ul li:hover ul.children {
  display: block;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
#site-navigation ul .current_page_item > a,
#site-navigation ul .current-menu-item > a,
#site-navigation ul .current_page_ancestor > a {
  color: #888;
  background: #dbdbdb;
  border-right: solid 1px #cecece;
  border-left: solid 1px #cecece;
}
#site-navigation .fa {
  padding: 0 5px 0 0;
}
#site-navigation .menu-desc {
  font-size: 12px;
  font-weight: 300;
  color: #999;
  display: inline-block;
  margin-top: -5px;
  font-style: italic;
  text-transform: lowercase;
}
#site-navigation .current_page_item > a,
#site-navigation .current-menu-item > a,
#site-navigation .current_page_ancestor > a {
  color: #e10d0d;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 600px) {
  .slicknav_menu {
    display: block;
  }
  #site-navigation ul.menu {
    display: none;
  }
  .slicknav_nav .menu-desc {
    display: none !important;
  }
  .slicknav_nav a {
    color: #666;
  }
  .slicknav_nav a .fa {
    margin-right: 5px;
  }
  .slicknav_nav .slicknav_arrow {
    display: none;
  }
  .slicknav_menu {
    background: #eee;
  }
  .slicknav_btn {
    background: #ddd;
    border: solid 1px #ccc;
  }
  .slicknav_menutxt {
    color: #666 !important;
    text-shadow: none !important;
  }
  .slicknav_icon-bar {
    background-color: #666 !important;
  }
}
/* TOP MENU */
#top-menu {
  float: left;
}
@media screen and (max-width: 600px) {
  #top-menu {
    float: none;
    text-align: center;
    padding: 15px;
  }
}
#top-menu ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0px;
}
#top-menu ul ul {
  display: none;
}
#top-menu ul li {
  display: inline;
}
#top-menu ul li a {
  padding: 8px 5px;
  display: inline-block;
  color: #666;
  font-size: 13px;
  font-weight: lighter;
}
#top-menu ul li a:hover {
  text-decoration: underline;
}
/* top slider */
.slider-wrapper {
  margin-top: 20px;
}
.slider-wrapper .nivoSlider {
  box-shadow: none;
  border: solid 5px #ececec;
}
.slider-wrapper .nivo-controlNav {
  position: relative;
  bottom: 60px;
  z-index: 9;
  margin-bottom: -40px;
}
.slider-wrapper .nivo-caption {
  bottom: 60px;
  left: 55px;
  right: auto;
  font-family: inherit;
  background: none;
}
@media screen and (max-width: 660px) {
  .slider-wrapper .nivo-caption {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    left: -55px;
    bottom: -25px;
  }
}
.slider-wrapper .nivo-caption a {
  text-decoration: none;
  border-bottom: none;
}
.slider-wrapper .nivo-caption .slide-title {
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-left: solid 4px #e10d0d;
  font-weight: lighter;
}
.slider-wrapper .nivo-caption .slide-desc span {
  background: rgba(225, 13, 13, 0.5);
  /* border-left: solid 4px black; */
  display: inline-block;
  font-size: 16px;
  padding: 8px;
}
.slider-wrapper .nivo-caption .slide-cta span {
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  border-bottom: solid 2px black;
}
/* Flex Images */
.flex-images {
  border: none;
  padding: 15px 30px;
  margin-bottom: 30px;
}
.flex-images .section-title:after {
  width: 5%;
}
.flex-images .item {
  margin: 6px;
  border: none;
  position: relative;
}
.flex-images .item .viewtext {
  position: absolute;
  top: 35%;
  left: 40%;
  font-size: 14px;
  z-index: 9999;
  display: none;
}
.flex-images .item img {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.flex-images .item:after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 5px;
  bottom: 0px;
  background: rgba(225, 13, 13, 0.8);
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.flex-images .item:hover:after {
  width: 100%;
}
.flex-images .item:hover img {
  -webkit-filter: blur(3px) grayscale(0.9);
}
.flex-images .item:hover .flex-caption {
  padding-left: 20px;
}
.flex-images .item:hover .viewtext {
  display: block;
  color: #eee;
  text-shadow: 0 0 2px #000;
  background: #000;
  padding: 10px;
  border-radius: 10px;
}
.flex-images .flex-caption {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  bottom: 0px;
  display: block;
  pointer-events: none;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  width: 100%;
  color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 0 #222;
  font-size: 16px;
  padding: 50px 10px 20px 10px;
}
/* section titles */
.section-title {
  font-weight: normal;
  color: #777;
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .section-title {
    margin-top: 20px;
  }
}
.section-title:after {
  content: "";
  display: block;
  width: 12%;
  height: 2px;
  margin-top: 5px;
  background: #e10d0d;
}
/* Second Featured Area */
.featured-2 {
  margin: 20px 0;
  position: relative;
}
.featured-2 .popular-articles {
  overflow: auto;
  overflow-x: hidden;
}
.featured-2 .popular-articles .imgcontainer {
  padding: 6px;
  position: relative;
}
.featured-2 .popular-articles .popimage {
  position: relative;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.featured-2 .popular-articles .popimage img {
  display: block;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
@media screen and (max-width: 991px) {
  .featured-2 .popular-articles .popimage img {
    width: 100%;
  }
}
.featured-2 .popular-articles .popimage:hover img {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  opacity: 1;
}
.featured-2 .popular-articles .popimage:hover .titledesc {
  display: block;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  /* left: 0; */
  opacity: 1;
}
.featured-2 .popular-articles .titledesc {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
  -moz-transition: 0.8s all ease;
  -ms-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.featured-2 .popular-articles .titledesc h2 {
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.featured-2 .popular-articles .titledesc a {
  color: #eee;
  background: #e10d0d;
  text-align: center;
  display: block;
  width: 40%;
  padding: 5px;
  margin: auto;
  margin-top: 25px;
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .titledesc {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .popimage:hover img {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .popimage:hover .titledesc {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
/* sb slider */
.latest-hap {
  position: relative;
}
@media screen and (min-width: 991px) {
  .latest-hap {
    padding-right: 0;
  }
}
.latest-hap {
  max-width: 582px;
  z-index: 50;
}
@media screen and (max-width: 991px) {
  .latest-hap {
    margin: auto;
  }
}
.latest-hap .bx-wrapper .bx-viewport {
  margin-top: 25px;
  box-shadow: none;
}
.latest-hap .bxslider {
  margin-left: 0px;
}
.latest-hap .sb-description {
  pointer-events: none;
  z-index: 88;
  background: rgba(0, 0, 0, 0.4);
  border-left-color: #e10d0d;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  width: 95%;
  left: 2.5%;
  right: 2.5%;
  border-left: solid 4px #e10d0d;
  color: #fff;
}
.latest-hap .sb-description h3 {
  margin: 0;
  font-size: 19px;
}
.nav-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 100;
}
.nav-arrows a a {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  box-shadow: 0px 0px 1px #e10d0d;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.nav-arrows a a .fa {
  z-index: 99;
  color: white;
}
.nav-arrows a a:hover {
  background-color: rgba(225, 13, 13, 0.5);
}
.nav-arrows #slider-next {
  float: right;
  position: relative;
  right: 30px;
}
@media screen and (max-width: 991px) {
  .nav-arrows #slider-next {
    right: 45px;
  }
}
.nav-arrows #slider-next i {
  position: relative;
  font-size: 22px;
  top: 12px;
  right: -15px;
}
.nav-arrows #slider-prev {
  position: absolute;
  float: left;
  left: 5px;
}
.nav-arrows #slider-prev i {
  position: relative;
  font-size: 22px;
  top: 12px;
  right: -11px;
}
#content {
  margin-top: 30px;
}
/* Grid */
.grid-row {
  padding: 0;
  margin: 0;
}
.grid {
  margin: 8px 0;
  padding-left: 0;
  padding-bottom: 17px;
  border-bottom: solid 1px #ececec;
}
@media screen and (max-width: 768px) {
  .grid {
    border-bottom: none;
  }
}
.grid:nth-last-child(2) {
  border: none;
}
.grid .featured-thumb {
  border-top: #e10d0d solid 3px;
  overflow: hidden;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .grid .featured-thumb img {
    width: 100%;
  }
}
.grid .featured-thumb img {
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.grid .featured-thumb:hover img {
  transition: 5s all ease;
  -webkit-transition: 5s all ease;
  -moz-transition: 5s all ease;
  -ms-transition: 5s all ease;
  -o-transition: 5s all ease;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.grid .out-thumb {
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 768px) {
  .grid .out-thumb {
    padding: 10px 3px;
  }
}
.grid .out-thumb h1 {
  margin: 5px 0;
  margin-top: 1px;
  font-weight: normal;
  font-size: 19px;
}
.grid .out-thumb h1 a {
  color: #262626;
  padding-bottom: 2px;
}
.grid .out-thumb h1 a:before {
  height: 2px;
  background: #262626;
  width: 96%;
  left: 2%;
}
.grid .out-thumb .postedon {
  font-size: 12px;
  color: #a3a3a3;
  font-weight: 400;
  margin-bottom: 5px;
}
.grid .out-thumb .postedon a {
  color: #858585;
  text-decoration: underline;
}
.grid .out-thumb .entry-excerpt {
  color: #666;
  line-height: 1.6em;
  font-weight: 400;
}
.grid .readmore {
  display: block;
  clear: both;
}
.grid .hvr-underline-from-center:before {
  height: 1px;
  background: #e10d0d;
}
.grid_2_column {
  padding: 0;
  border-bottom: none;
}
.grid_2_column .out-thumb {
  padding: 12px 0;
}
@media screen and (max-width: 768px) {
  .grid_2_column {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .grid_2_column:nth-child(even) {
    padding-left: 10px;
  }
  .grid_2_column:nth-child(odd) {
    padding-right: 10px;
    clear: left;
  }
}
.grid_3_column {
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .grid_3_column:nth-child(odd) {
    padding-right: 10px;
    clear: none;
  }
  .grid_3_column:nth-child(3n+1) {
    clear: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid_3_column:nth-child(3n+3) {
    margin-left: 25%;
  }
}
@media screen and (min-width: 768px) {
  .grid_4_column:nth-child(odd) {
    padding-right: 10px;
    clear: none;
  }
  .grid_4_column:nth-child(3n+1) {
    clear: none;
  }
}
.photos_2_column {
  position: relative;
  border-bottom: none;
  padding: 0 8px;
}
.photos_2_column .featured-thumb {
  border-top: none;
  overflow: hidden;
}
.photos_2_column .out-thumb {
  position: absolute;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  bottom: 0%;
  opacity: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-bottom: rgba(225, 13, 13, 0.7) solid 3px;
}
.photos_2_column .out-thumb h1 {
  margin: 0;
  text-align: center;
  transition: 2s all ease;
  -webkit-transition: 2s all ease;
  -moz-transition: 2s all ease;
  -ms-transition: 2s all ease;
  -o-transition: 2s all ease;
  margin-top: 9%;
}
.photos_2_column .out-thumb h1 a {
  color: #bfbfbf !important;
  font-size: 17px;
}
.photos_2_column .out-thumb .readmore {
  display: block;
  text-align: center;
  margin: 20px 10px;
}
.photos_2_column .out-thumb .readmore a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 15px;
  text-transform: uppercase;
  border-radius: 2px;
}
.photos_2_column .out-thumb .readmore a:before {
  background: black;
}
.photos_2_column:hover .out-thumb {
  opacity: 1;
}
.photos_2_column:hover h1 {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.photos_1_column .featured-thumb img {
  width: 100%;
  height: auto;
}
.photos_1_column .out-thumb {
  height: auto;
}
.photos_1_column .out-thumb h1 {
  text-align: left;
  margin-top: 0;
  padding-left: 15px;
}
.photos_1_column .out-thumb .readmore {
  text-align: right;
  margin: 0;
  position: absolute;
  top: -36px;
  left: 15px;
}
.photos_1_column .out-thumb .readmore a {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.photos_1_column .out-thumb .readmore a:before {
  border-radius: 5px;
}
/* --------------- pagination ------------ */
.pagination {
  margin: 20px 0;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  clear: both;
}
.pagination ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  margin-left: 0px;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a {
  color: #dc0d0d;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.pagination ul > li > a:hover {
  color: #e10d0d;
  background: #fff;
}
.pagination .current {
  background: #e7e7e7;
}
.pagination ul  > li  > a,
.pagination ul  > li  > span {
  float: left;
  padding: 6px 12px 4px 12px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 5px;
  background-color: #f4f4f4;
  border: 1px solid #ececec;
  display: inline-block;
  color: #aaa;
}
.pagination ul  > li  > a:hover,
.pagination ul  > li  > span:hover {
  background: none;
}
.pagination ul  > li  > span:hover {
  background-color: #f4f4f4;
}
#secondary {
  /*
aside:nth-child(odd) {
		background: #fafafa;
		border: solid 1px #eee;
	}
*/
  /* Some Styling for Default WordPress Widgets */
  /* Pulse Grow */
}
#secondary aside {
  padding: 10px;
}
#secondary h1.widget-title {
  font-weight: normal;
  color: #777;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 0px;
}
#secondary h1.widget-title:after {
  content: "";
  display: block;
  width: 12%;
  height: 2px;
  margin-top: 5px;
  background: #e10d0d;
}
#secondary .widget a {
  color: #888;
  font-weight: normal;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
#secondary .widget a:hover {
  color: #e10d0d;
}
#secondary .widget ul {
  font-size: 13px;
  margin-left: 0px;
  overflow: auto;
}
#secondary .widget ul li {
  list-style: none;
  border-bottom: solid 1px #ececec;
  padding: 6px;
}
#secondary .widget ul li:last-child {
  border-bottom: none;
}
#secondary .widget_recent_entries ul li:before,
#secondary .widget_recent_comments ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_pages ul li:before,
#secondary .widget_archive ul li:before,
#secondary .widget_meta ul li:before,
#secondary .widget_nav_menu ul li:before {
  content: "\f054";
  font-family: "FontAwesome";
  color: #a6a6a6;
  font-size: 10px;
  margin-right: 5px;
}
#secondary .widget_recent_entries ul li,
#secondary .widget_recent_comments ul li,
#secondary .widget_categories ul li,
#secondary .widget_pages ul li,
#secondary .widget_archive ul li,
#secondary .widget_meta ul li,
#secondary .widget_nav_menu ul li {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
#secondary .widget_recent_entries ul li:hover,
#secondary .widget_recent_comments ul li:hover,
#secondary .widget_categories ul li:hover,
#secondary .widget_pages ul li:hover,
#secondary .widget_archive ul li:hover,
#secondary .widget_meta ul li:hover,
#secondary .widget_nav_menu ul li:hover {
  transform: translateX(2px);
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  -ms-transform: translateX(2px);
  -o-transform: translateX(2px);
}
#secondary .widget_tag_cloud .tagcloud a {
  background: #e10d0d;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: lighter;
  color: #f4f4f4;
  padding: 7px 5px;
  margin-bottom: 5px;
  display: inline-block;
}
#secondary .widget_tag_cloud .tagcloud a:hover {
  color: #f4f4f4;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
#secondary .tagcloud a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#secondary .tagcloud a:hover,
#secondary .tagcloud a:focus,
#secondary .tagcloud a:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* Custom Widgets */
.widget_protopress_fp_cat li.fp-item {
  border-bottom: none !important;
  text-align: center;
}
.widget_protopress_fp_cat li.fp-item .fp-title {
  margin-top: 5px;
}
.widget_protopress_fp_cat li.fp-item .fp-date {
  font-size: 12px;
}
ul.post_thumbs_widget li {
  border-bottom: none !important;
  width: 49%;
  float: left;
}
.sidebar-video {
  position: relative;
  margin-bottom: 12px;
}
.sidebar-video .video-title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  padding: 5px;
  display: block;
  width: 100%;
}
.sidebar-video .video-title a {
  /* color: #ddd !important; */
}
.sidebar-video .video-title:before {
  content: "\f03d";
  font-family: "FontAwesome";
  margin-right: 5px;
}
.widget_protopress_rp li.rp-item {
  overflow: auto;
  clear: both;
  display: block;
  padding: 8px 0px;
  font-size: 13px;
}
.widget_protopress_rp .rp-thumb {
  width: 52px;
  float: left;
  display: inline-block;
  margin-right: 6px;
}
.widget_protopress_rp .rp-date {
  color: #808080;
  font-size: 11px;
}
.widget.feature-posts ul li,
.widget.rt-most-commented ul li {
  overflow: auto;
  clear: both;
}
.widget.feature-posts ul li img,
.widget.rt-most-commented ul li img {
  display: block;
  float: left;
  margin-right: 5px;
}
.widget.feature-posts ul li .feature-posts-title,
.widget.rt-most-commented ul li .feature-posts-title {
  display: block;
  float: left;
  font-size: 13px;
}
.widget.feature-posts ul li small,
.widget.rt-most-commented ul li small {
  display: block;
  float: left;
  color: rgba(102, 102, 102, 0.8);
  font-style: oblique;
}
.widget.rt-social-links .icon-small {
  font-size: 22px;
}
.widget.rt-social-links .icon-medium {
  font-size: 28px;
}
.widget.rt-social-links .icon-large {
  font-size: 38px;
}
.widget.rt-social-links .social-links {
  display: block;
  overflow: auto;
}
.widget.rt-social-links a {
  background: #f2f2f2;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  line-height: 0.8em;
}
.widget.rt-social-links a:hover {
  background: #e10d0d;
  color: #fff !important;
}
.widget.flickr .flickr_badge_image {
  display: inline-block;
  float: left;
  margin: 5px;
}
.widget.flickr .myprofile {
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
/* Footer Sidebar */
#footer-sidebar {
  background: #f4f4f4;
  border-top: solid 1px #eee;
}
#footer-sidebar .footer-column {
  /* Pulse Grow */
}
#footer-sidebar .footer-column h1.widget-title {
  font-weight: normal;
  font-size: 20px;
}
#footer-sidebar .footer-column .widget {
  color: #4d4d4d;
}
#footer-sidebar .footer-column .widget a {
  color: #666;
  font-weight: lighter;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
#footer-sidebar .footer-column .widget a:hover {
  color: #e10d0d;
}
#footer-sidebar .footer-column .widget ul {
  margin-left: 0px;
}
#footer-sidebar .footer-column .widget ul li {
  list-style: none;
  padding: 5px;
  border-bottom: solid 1px #eaeaea;
}
#footer-sidebar .footer-column .widget ul li ul {
  margin-left: 5px;
}
#footer-sidebar .footer-column .widget ul li li {
  margin-left: 2px;
  border-bottom: none;
  padding: 2px;
}
#footer-sidebar .footer-column .widget_tag_cloud .tagcloud a {
  background: #e10d0d;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: lighter;
  color: #f4f4f4;
  padding: 7px 5px;
  margin-bottom: 5px;
  display: inline-block;
}
#footer-sidebar .footer-column .widget_tag_cloud .tagcloud a:hover {
  color: #f4f4f4;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
#footer-sidebar .footer-column .tagcloud a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#footer-sidebar .footer-column .tagcloud a:hover,
#footer-sidebar .footer-column .tagcloud a:focus,
#footer-sidebar .footer-column .tagcloud a:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#footer-sidebar .footer-column .widget_protopress_rp li.rp-item {
  overflow: auto;
  clear: both;
  display: block;
  padding: 8px 0px;
  font-size: 13px;
}
#footer-sidebar .footer-column .widget_protopress_rp .rp-thumb {
  width: 52px;
  float: left;
  display: inline-block;
  margin-right: 6px;
}
#footer-sidebar .footer-column .widget_protopress_rp .rp-date {
  color: #808080;
  font-size: 11px;
}
#footer-sidebar .footer-column .widget_recent_entries ul li:before,
#footer-sidebar .footer-column .widget_recent_comments ul li:before,
#footer-sidebar .footer-column .widget_categories ul li:before,
#footer-sidebar .footer-column .widget_pages ul li:before,
#footer-sidebar .footer-column .widget_archive ul li:before,
#footer-sidebar .footer-column .widget_meta ul li:before,
#footer-sidebar .footer-column .widget_nav_menu ul li:before {
  content: "\f054";
  font-family: "FontAwesome";
  color: #a6a6a6;
  font-size: 10px;
  margin-right: 5px;
}
#colophon {
  background: #f4f4f4;
  padding: 15px 10px 5px 10px;
  color: #666;
  font-size: 13px;
  text-align: center;
}
#colophon a {
  color: #666;
  text-decoration: underline;
}
/* Single Posts Area */
#primary-mono {
  padding: 0 10px;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  #primary-mono {
    padding-left: 10px;
  }
}
#primary-mono h1.entry-title {
  font-weight: 300;
  color: #666;
  font-size: 30px;
  margin-top: 0px;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 0px;
}
#primary-mono h1.entry-title:after {
  content: "";
  display: block;
  width: 12%;
  height: 2px;
  margin-top: 5px;
  background: #e10d0d;
}
#primary-mono .featured-image {
  border-bottom: solid 1px #eee;
  float: none;
  text-align: center;
}
#primary-mono .entry-meta,
#primary-mono .entry-footer {
  font-size: 12px;
  border-bottom: solid 1px #eee;
  padding-bottom: 7px;
  overflow: auto;
}
#primary-mono .entry-meta a,
#primary-mono .entry-footer a {
  color: #666;
  text-decoration: underline;
}
#primary-mono .entry-meta a:hover,
#primary-mono .entry-footer a:hover {
  color: #e10d0d;
}
#primary-mono .entry-footer {
  border-top: solid 1px #eee;
  padding-top: 7px;
  margin-top: 25px;
}
#primary-mono .entry-footer .post-edit-link {
  float: right;
}
#primary-mono .entry-footer .cat-links {
  margin-right: 6px;
}
#primary-mono .entry-content {
  color: #666;
  line-height: 1.7em;
  font-size: 14px;
}
#primary-mono .entry-content a:hover {
  text-decoration: underline;
  color: #e10d0d;
}
#primary-mono .nav-links {
  padding: 6px 0;
  padding-top: 8px;
  border-bottom: solid 1px #eee;
  display: block;
  overflow: auto;
  font-weight: normal;
  font-size: 13px;
}
#primary-mono .nav-links a {
  color: #666;
}
#primary-mono .nav-links a:hover {
  color: #e10d0d;
}
#primary-mono.page h1.entry-title:after {
  display: none;
}
.edit-link {
  display: inline-block;
  float: right;
}
.page-header {
  margin-top: 0px;
  border-bottom: none;
}
.page-header h1 {
  font-size: 18px;
  font-weight: lighter;
  border-bottom: solid 1px #e1e1e1;
  display: inline-block;
  padding-bottom: 10px;
}
/* --------------- comments -------------- */
#respond h3#reply-title {
  font-weight: normal;
  font-size: 32px;
}
#respond input[type=text] {
  max-width: 550px;
}
#respond input,
#respond textarea {
  background: #f2f2f2;
  border: solid 1px #cccccc;
  color: #666;
  outline: none;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input,
#respond .comment-form-comment input,
#respond .comment-form-author textarea,
#respond .comment-form-email textarea,
#respond .comment-form-url textarea,
#respond .comment-form-comment textarea {
  padding: 4px 5px 5px 10px;
  border-radius: 0;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  background: #e10d0d;
  color: #fff;
  border-bottom: solid 1px #e10d0d;
  padding: 5px;
  margin-right: -5px;
  min-width: 70px;
}
#respond .comment-form-comment label {
  margin-bottom: 0px;
}
#respond .form-submit input[type=submit] {
  box-shadow: none;
  text-shadow: none;
  padding: 10px;
  background: #ffffff;
  font-weight: bold;
  color: #e10d0d;
  margin-bottom: 60px;
}
#respond .comment-notes,
#respond .logged-in-as {
  color: #666;
}
#comments {
  margin-top: 55px;
}
#comments h2.comments-title {
  font-size: x-large;
}
#comments ol.comment-list {
  list-style: none;
  margin-left: 0px;
}
#comments li.comment {
  border: solid 1px #e0e0e0;
  padding: 10px;
  margin-top: 15px;
  list-style: none;
  background: #f7f7f7;
}
#comments li.comment .comment-content {
  color: #666666;
  font-weight: lighter;
}
#comments li.trackback {
  background: #ffffff;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px #eee;
  font-weight: bold;
}
#comments li.trackback a {
  font-weight: normal;
}
#comments .vcard img {
  border: solid 4px #fff;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
#comments .form-allowed-tags {
  display: none;
}
#comments .comment-metadata {
  font-weight: bold;
}
#comments .comment-metadata time {
  float: right;
  color: #b3b3b3;
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  li.comment {
    margin-left: -5%;
  }
}
.page-404 {
  text-align: center;
}
.page-404 .search-form {
  margin-bottom: 20px;
}
.page-404 .search-form input[type=search] {
  background: white;
  border: solid 2px #f4f4f4;
  border-radius: 0px;
  padding: 15px;
  font-size: 16px;
  padding-bottom: 10px;
  outline: none;
}
.page-404 .search-submit {
  display: none;
}
.page-404 p.try {
  font-size: 18px;
  background: #f4f4f4;
  padding: 15px;
  margin-top: 25px;
  width: 98%;
  margin-left: 1%;
  color: #666;
}
.page-404 .widget_protopress_rp {
  float: left;
}
.page-404 .widget_protopress_rp .widgettitle {
  display: none;
}
.page-404 .widget_protopress_rp ul {
  list-style: none;
  margin-left: 0px;
}
.page-404 .widget_protopress_rp li {
  width: 31%;
  float: left;
  margin-bottom: 10px;
  background: #f4f4f4;
  border: solid 1px #f4f4f4;
  padding: 10px;
  margin-right: 1%;
  margin-left: 1%;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
@media screen and (max-width: 1199px) {
  .page-404 .widget_protopress_rp li {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .page-404 .widget_protopress_rp li {
    width: 98%;
  }
}
.page-404 .widget_protopress_rp li a {
  color: #666;
  font-weight: bold;
}
.page-404 .widget_protopress_rp li:hover {
  background: #fff;
  border: solid 1px #f4f4f4;
}
.page-404 .widget_protopress_rp li .rp-thumb {
  width: 20%;
  height: auto;
  float: left;
  display: inline-block;
}
.page-404 .widget_protopress_rp li .rp-title,
.page-404 .widget_protopress_rp li .rp-date {
  float: left;
  display: block;
  width: 77%;
  text-align: left;
  margin-left: 2%;
}
.page-404 .widget_protopress_rp li .rp-date {
  font-size: x-small;
  font-style: italic;
}
#primary-mono .entry-content h1,
#primary-mono .entry-content h2,
#primary-mono .entry-content h3,
#primary-mono .entry-content h4,
#primary-mono .entry-content h5,
#primary-mono .entry-content h6 {
  font-weight: bold;
  color: #404040;
}
#primary-mono .entry-content table {
  background: #f7f7f7;
  border: solid 1px #e8e8e8;
}
#primary-mono .entry-content table th,
#primary-mono .entry-content table td {
  padding: 5px;
}
#primary-mono .entry-content table tr {
  border-bottom: solid 1px #e8e8e8;
}
#primary-mono .entry-content blockquote {
  font-family: "Georgia", serif;
  font-size: 14px;
  border-left: solid 5px rgba(225, 13, 13, 0.5);
  background: #f7f7f7;
}
/**
 * Global styles
 */
p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  background-color: #e10d0d;
  color: #fff;
  z-index: 99998;
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
}
.admin-bar p.demo_store {
  top: 32px;
}
/**
 * Main WooCommerce styles
 */
.woocommerce .blockUI.blockOverlay {
  position: relative;
}
.woocommerce a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #666 !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
}
.woocommerce a.remove:hover {
  color: #fff !important;
  background: red;
}
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info {
  padding: 1em 2em 1em 3.5em !important;
  margin: 0 0 2em !important;
  position: relative;
  background-color: #f2f2f2;
  color: #666;
  list-style: none outside !important;
  width: auto;
  overflow: auto;
}
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before {
  font-family: "FontAwesome";
  content: "\f05a";
  display: inline-block;
  position: absolute;
  top: 1.1em;
  left: 1.5em;
}
.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button {
  float: right;
}
.woocommerce .woocommerce-message li,
.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.woocommerce .woocommerce-message {
  border-top-color: #8fae1b;
}
.woocommerce .woocommerce-message:before {
  font-family: 'FontAwesome';
  content: "\f00c";
  color: #8fae1b;
}
.woocommerce .woocommerce-info {
  border-top-color: #1e85be;
}
.woocommerce .woocommerce-info:before {
  color: #1e85be;
}
.woocommerce .woocommerce-error {
  border-top-color: #b81c23;
}
.woocommerce .woocommerce-error:before {
  content: "\f071";
  color: #b81c23;
}
.woocommerce small.note {
  display: block;
  color: #666;
  font-size: .857em;
  margin-top: 10px;
}
.woocommerce .woocommerce-breadcrumb {
  margin: 0 0 1em;
  padding: 0;
  font-size: 1em;
  text-align: left;
  color: #666;
  background: #f5f5f5;
  border-bottom: solid 1px #e6e6e6;
  padding: 5px 10px;
}
.woocommerce .woocommerce-breadcrumb a {
  color: #e10d0d;
}
.woocommerce .woocommerce-breadcrumb .fa {
  color: #999999;
}
.woocommerce .quantity .qty {
  width: 3.331em;
  text-align: center;
}
/**
 * Product loops
 */
.woocommerce .products ul,
.woocommerce ul.products {
  margin: 0 0 1em;
  padding: 0;
  list-style: none outside;
  clear: both;
}
.woocommerce .products ul li,
.woocommerce ul.products li {
  list-style: none outside;
}
.woocommerce ul.products li.product {
  background: #fafafa;
  border: solid 1px #f0f0f0;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .woocommerce ul.products li.product {
    width: 48% !important;
  }
}
.woocommerce ul.products li.product .onsale {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(225, 13, 13, 0.9);
  color: #fff;
  padding: 10px;
  z-index: 99;
}
.woocommerce ul.products li.product .product-desc {
  text-align: center;
}
.woocommerce ul.products li.product h3 {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: center;
}
.woocommerce ul.products li.product a {
  text-decoration: none;
}
.woocommerce ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0;
  box-shadow: none;
  border: solid 1px #e6e6e6;
  -webkit-filter: brightness(0.95);
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.woocommerce ul.products li.product a img:hover {
  -webkit-filter: brightness(1);
}
.woocommerce ul.products li.product .button {
  margin-top: 5px;
  background: #d9d9d9;
  color: #595959;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.woocommerce ul.products li.product .button:hover {
  background: #e10d0d;
  color: #fff;
}
.woocommerce ul.products li.product .price {
  color: #e10d0d;
  display: block;
  font-weight: bold;
  margin-bottom: .5em;
  font-size: 14px;
}
.woocommerce ul.products li.product .price del {
  color: inherit;
  opacity: 0.7;
}
.woocommerce ul.products li.product .price ins {
  background: none;
  font-weight: 700;
}
.woocommerce ul.products li.product .price .from {
  font-size: 0.67em;
  margin: -2px 0 0 0;
  text-transform: uppercase;
  color: rgba(136, 102, 102, 0.005);
}
.woocommerce .woocommerce-result-count {
  margin: 0 0 1em;
  font-size: 13px;
  color: #666;
  font-weight: lighter;
}
.woocommerce .woocommerce-ordering {
  margin: 0 0 1em;
}
.woocommerce .woocommerce-ordering select {
  vertical-align: top;
  padding: 20px;
  position: relative;
  display: inline-block;
  background: #f2f2f2;
  border: solid 1px #e8e8e8;
  border-radius: 0;
}
.woocommerce .woocommerce-ordering select:after {
  content: "\f103";
  font-family: "FontAwesome";
  color: white;
  position: absolute;
  right: 27px;
  top: 23px;
  font-size: 18px;
}
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 50px;
}
.woocommerce nav.woocommerce-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-right: 0;
  margin: 1px;
}
.woocommerce nav.woocommerce-pagination ul li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  margin: 3px;
  text-decoration: none;
  border: 1px solid #e6e6e6;
  padding: 0;
  line-height: 1;
  font-size: 1em;
  font-weight: normal;
  padding: 7px 12px;
  min-width: 25px;
  display: block;
  color: #666;
}
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus {
  background: #f2f2f2;
  color: #666;
}
/**
 * Star ratings
 */
.star-rating {
  float: right;
  overflow: visible;
  position: relative;
  font-size: 18px;
  display: block;
  height: 18px;
  overflow: hidden;
  font-family: 'FontAwesome';
  text-align: center;
  margin: 1px auto 6px auto !important;
  width: 78px;
}
.star-rating:before {
  content: "\f005\f005\f005\f005\f005";
  color: #666;
  top: 0;
  left: 0;
  float: left;
  position: absolute;
  letter-spacing: 2px;
  font-size: 15px;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  color: #e10d0d;
  top: 0;
  position: absolute;
  left: 0;
  letter-spacing: 2px;
  font-size: 15px;
}
.star-rating .rating {
  display: none;
}
.woocommerce-product-rating {
  line-height: 2;
  display: block;
}
.woocommerce-product-rating .star-rating {
  margin: .5em 4px 0 0;
  float: left;
}
.products .star-rating {
  display: block;
  margin: 0 0 .5em;
  float: none;
}
.hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
#review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0 0 0;
  background: transparent none;
  border: 0;
}
#review_form #respond p {
  margin: 0 0 10px;
}
#review_form #respond .form-submit input {
  left: auto;
}
#review_form #respond textarea {
  width: 100%;
}
p.stars {
  position: relative;
  font-size: 1em;
}
p.stars a {
  display: inline-block;
  font-weight: 700;
  margin-right: 1em;
  text-indent: -9999px;
  position: relative;
  border-bottom: 0 !important;
  outline: 0;
}
p.stars a:last-child {
  border-right: 0;
}
p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4,
p.stars a.star-5 {
  border-right: 1px solid #ccc;
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
  font-family: "FontAwesome";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}
p.stars a.star-1 {
  width: 2em;
}
p.stars a.star-1:after {
  content: "\f006";
}
p.stars a.star-1:hover:after,
p.stars a.star-1.active:after {
  content: "\f005";
}
p.stars a.star-2 {
  width: 3em;
}
p.stars a.star-2:after {
  content: "\f006\f006";
}
p.stars a.star-2:hover:after,
p.stars a.star-2.active:after {
  content: "\f005\f005";
}
p.stars a.star-3 {
  width: 4em;
}
p.stars a.star-3:after {
  content: "\f006\f006\f006";
}
p.stars a.star-3:hover:after,
p.stars a.star-3.active:after {
  content: "\f005\f005\f005";
}
p.stars a.star-4 {
  width: 5em;
}
p.stars a.star-4:after {
  content: "\f006\f006\f006\f006";
}
p.stars a.star-4:hover:after,
p.stars a.star-4.active:after {
  content: "\f005\f005\f005\f005";
}
p.stars a.star-5 {
  width: 6em;
  border: 0;
}
p.stars a.star-5:after {
  content: "\f006\f006\f006\f006\f006";
}
p.stars a.star-5:hover:after,
p.stars a.star-5.active:after {
  content: "\f005\f005\f005\f005\f005";
}
ol.commentlist {
  margin-left: 0;
}
/**
 * Buttons
 */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #666;
  background-color: #ebebeb;
  border: 0;
  white-space: nowrap;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading,
.woocommerce #respond input#submit.loading {
  opacity: 0.25;
  padding-right: 2.618em;
}
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after,
.woocommerce #respond input#submit.loading:after {
  font-family: "FontAwesome";
  content: "\f110";
  margin-left: .53em;
  vertical-align: bottom;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.woocommerce a.button.added:after,
.woocommerce button.button.added:after,
.woocommerce input.button.added:after,
.woocommerce #respond input#submit.added:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  margin-left: .53em;
  vertical-align: bottom;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover {
  text-decoration: none;
  background-image: none;
  color: #666;
}
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
  background-color: #e10d0d;
  color: #666;
  -webkit-font-smoothing: antialiased;
}
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover {
  color: #666;
}
.woocommerce a.button.alt.disabled,
.woocommerce button.button.alt.disabled,
.woocommerce input.button.alt.disabled,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce button.button.alt:disabled,
.woocommerce input.button.alt:disabled,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce a.button.alt.disabled:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce a.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt:disabled[disabled]:hover {
  background-color: #e10d0d;
  color: #666;
}
.woocommerce a.button:disabled,
.woocommerce button.button:disabled,
.woocommerce input.button:disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce a.button.disabled,
.woocommerce button.button.disabled,
.woocommerce input.button.disabled,
.woocommerce #respond input#submit.disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button:disabled[disabled],
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit:disabled[disabled] {
  color: inherit;
  cursor: not-allowed;
  opacity: 0.5;
}
.woocommerce a.button:disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce a.button.disabled:hover,
.woocommerce button.button.disabled:hover,
.woocommerce input.button.disabled:hover,
.woocommerce #respond input#submit.disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover {
  color: inherit;
  background-color: #666;
}
.woocommerce .cart .button,
.woocommerce .cart input.button {
  float: none;
}
.woocommerce a.added_to_cart {
  margin-top: 5px;
  background: #d9d9d9;
  color: #595959;
  padding: 5px 13px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.woocommerce a.added_to_cart:hover {
  background: #e10d0d;
  color: #fff;
}
/**
 * Product Page
 */
.woocommerce .panel {
  box-shadow: none;
}
.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  /**
	 * to display related posts in 3 Columns
	 */
}
@media screen and (min-width: 768px) {
  .woocommerce div.product .images {
    width: 40% !important;
  }
}
.woocommerce div.product .product_title {
  clear: none;
  margin-top: 0;
  padding: 0;
}
.woocommerce div.product .entry-summary {
  margin-top: 0px;
  color: #666;
}
@media screen and (min-width: 768px) {
  .woocommerce div.product .entry-summary {
    width: 56% !important;
  }
}
.woocommerce div.product h1.product_title {
  padding-top: 0;
}
.woocommerce div.product .star-rating {
  height: 23px;
}
.woocommerce div.product .woocommerce-review-link {
  color: #666;
  padding: 4px;
  position: relative;
  top: 2px;
}
.woocommerce div.product .single_add_to_cart_button {
  background: #ebebeb;
  border: solid 1px #e6e6e6;
  padding: 8px 10px;
}
.woocommerce div.product span.price,
.woocommerce div.product p.price {
  color: #e10d0d;
  font-size: 1.25em;
}
.woocommerce div.product span.price ins,
.woocommerce div.product p.price ins {
  background: inherit;
  font-weight: 700;
}
.woocommerce div.product span.price del,
.woocommerce div.product p.price del {
  opacity: 0.5;
  display: block;
}
.woocommerce div.product > span.onsale {
  background: rgba(225, 13, 13, 0.8);
  padding: 10px;
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}
.woocommerce div.product form.cart {
  overflow: auto;
  margin-bottom: 10px;
}
.woocommerce div.product form.cart .quantity .qty {
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: solid 1px #e6e6e6;
}
.woocommerce div.product .product_meta {
  clear: both;
  border-top: solid 1px #f7f7f7;
  border-bottom: solid 1px #f7f7f7;
  padding: 5px 0px;
  margin-top: 5px;
}
.woocommerce div.product p.stock {
  font-size: 0.92em;
}
.woocommerce div.product .stock {
  color: #e10d0d;
}
.woocommerce div.product .out-of-stock {
  color: red;
}
.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 5px;
}
.woocommerce div.product div.images {
  margin-bottom: 2em;
}
.woocommerce div.product div.images img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
}
.woocommerce div.product div.images div.thumbnails {
  padding-top: 1em;
}
.woocommerce div.product div.summary {
  margin-bottom: 2em;
}
.woocommerce div.product div.social {
  text-align: right;
  margin: 0 0 1em;
}
.woocommerce div.product div.social span {
  margin: 0 0 0 2px;
}
.woocommerce div.product div.social span span {
  margin: 0;
}
.woocommerce div.product div.social span .stButton .chicklets {
  padding-left: 16px;
  width: 0;
}
.woocommerce div.product div.social iframe {
  float: left;
  margin-top: 3px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0 0 1.618em;
  overflow: hidden;
  position: relative;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 1px solid #e6e6e6;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 -5px;
  padding: 0 1em;
  margin-left: 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
  background: #ededed;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: .5em 0;
  font-weight: 700;
  color: #666;
  text-decoration: none;
  padding-top: 10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  text-decoration: none;
  color: #808080;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: #ededed;
  z-index: 2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: inherit;
  text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  box-shadow: 2px 2px 0 #666;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
  box-shadow: -2px 2px 0 #666;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
}
.woocommerce div.product .woocommerce-tabs .panel {
  margin: 0 0 2em;
  padding: 0;
}
.woocommerce div.product .related h2,
.woocommerce div.product .upsells.products h2,
.woocommerce div.product .cross-sells h2 {
  font-size: 17px;
  font-weight: bold;
}
.woocommerce div.product .related ul.products,
.woocommerce div.product .upsells.products ul.products,
.woocommerce div.product .cross-sells ul.products,
.woocommerce div.product .related ul,
.woocommerce div.product .upsells.products ul,
.woocommerce div.product .cross-sells ul {
  margin-bottom: 0;
}
.woocommerce div.product .related ul.products li.product,
.woocommerce div.product .upsells.products ul.products li.product,
.woocommerce div.product .cross-sells ul.products li.product,
.woocommerce div.product .related ul li.product,
.woocommerce div.product .upsells.products ul li.product,
.woocommerce div.product .cross-sells ul li.product {
  width: 30.75%;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .woocommerce div.product .related ul.products li.product,
  .woocommerce div.product .upsells.products ul.products li.product,
  .woocommerce div.product .cross-sells ul.products li.product,
  .woocommerce div.product .related ul li.product,
  .woocommerce div.product .upsells.products ul li.product,
  .woocommerce div.product .cross-sells ul li.product {
    width: 49%;
  }
}
.woocommerce div.product p.cart {
  margin-bottom: 2em;
}
.woocommerce div.product form.cart {
  margin-bottom: 10px;
}
.woocommerce div.product form.cart div.quantity {
  float: left;
  margin: 0 4px 0 0;
}
.woocommerce div.product form.cart table {
  border-width: 0 0 1px 0;
}
.woocommerce div.product form.cart table td {
  padding-left: 0;
}
.woocommerce div.product form.cart table div.quantity {
  float: none;
  margin: 0;
}
.woocommerce div.product form.cart table small.stock {
  display: block;
  float: none;
}
.woocommerce div.product form.cart .variations {
  margin-bottom: 1em;
  border: 0;
}
.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  border: 0;
}
.woocommerce div.product form.cart .variations label {
  font-weight: bold;
  color: #666;
  font-size: 16px;
  display: inline-block;
  padding-right: 0;
  padding-top: 1px;
}
.woocommerce div.product form.cart .variations select {
  width: 100%;
  float: left;
}
.woocommerce div.product form.cart .variations .reset_variations {
  font-weight: lighter;
  font-size: x-small;
  padding-left: 5px;
}
.woocommerce div.product form.cart .variations td.label {
  padding-right: 0;
  display: inline-block;
}
.woocommerce div.product form.cart .variations td {
  vertical-align: top;
}
.woocommerce div.product form.cart .variations #pa_color {
  background: #ebebeb;
  border: solid 1px #e6e6e6;
  outline: none;
  width: auto;
}
.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: left;
}
.woocommerce div.product form.cart .group_table td.label {
  padding-right: 1em;
  padding-left: 1em;
}
.woocommerce div.product form.cart .group_table td {
  vertical-align: top;
  padding-bottom: .5em;
  border: 0;
}
/**
 * Reviews
 */
.woocommerce #comments {
  margin-top: 0px;
}
.woocommerce h3#review-title {
  font-size: 16px;
}
.woocommerce #reviews h2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
.woocommerce #reviews .comment_container img {
  float: left !important;
  margin-right: 10px;
}
.woocommerce #reviews .comment_container .comment-text {
  display: block;
  overflow: auto;
}
/**
 * Cart page
 */
.woocommerce-cart table.cart .product-thumbnail {
  min-width: 100px;
}
.woocommerce-cart table.cart img {
  width: 100px;
  box-shadow: none;
}
.woocommerce-cart table.cart th,
.woocommerce-cart table.cart td {
  vertical-align: middle;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 6px 6px 5px;
  margin: 0 4px 0 0;
  outline: 0;
  line-height: 1;
}
.woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.woocommerce-cart .wc-proceed-to-checkout {
  padding: 1em 0;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  display: inline-block;
  text-align: center;
  float: right;
  margin-bottom: 1em;
  background: #e6e6e6;
  font-weight: bold;
}
.woocommerce-cart .cart-collaterals .cross-sells h2 {
  font-size: 15px;
  font-weight: bold;
}
.woocommerce-cart .cart-collaterals .woocommerce-shipping-calculator .button {
  float: none;
  display: inline-block;
}
.woocommerce-cart .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-button {
  font-weight: lighter;
  font-size: 12px;
}
.woocommerce-cart .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-button:after {
  /* icon here */
  content: "\f072";
  font-family: "FontAwesome";
  padding-left: 5px;
  position: relative;
  top: 2px;
  font-size: 15px;
  color: #666;
}
.woocommerce-cart .cart-collaterals .cart_totals h2 {
  font-size: 15px;
  font-weight: bold;
}
.woocommerce-cart .cart-collaterals .cart_totals p small {
  font-size: 0.83em;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
  border-left: 0;
}
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.woocommerce-cart .cart-collaterals .cart_totals table th {
  padding: 6px 12px 0 0;
  width: 25%;
}
.woocommerce-cart .cart-collaterals .cart_totals table td {
  padding: 6px 0;
}
.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th {
  vertical-align: top;
  border-left: 0;
  border-right: 0;
  padding: 6px 0;
  line-height: 2em;
}
.woocommerce-cart .cart-collaterals .cart_totals table small {
  color: #666;
}
.woocommerce-cart .cart-collaterals .cart_totals table select {
  width: 100%;
}
.woocommerce-cart .cart-collaterals .cart_totals .discount td {
  color: #e10d0d;
}
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
  border-top: 1px solid #f2f2f2;
}
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product {
  margin-top: 0;
}
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product h3 {
  font-size: 13px;
}
/**
 * Tables
 */
table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
table.shop_attributes th {
  width: 150px;
  font-weight: 700;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5;
}
table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5;
}
table.shop_attributes td p {
  margin: 0;
  padding: 8px 0;
}
table.shop_attributes .alt td,
table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}
table.shop_table {
  border: 1px solid #e6e6e6;
  margin: 0px -1px 24px 0px;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
}
table.shop_table th {
  font-weight: 700;
  padding: 9px 12px;
}
table.shop_table td {
  border-top: 1px solid #e6e6e6;
  padding: 6px 12px;
  vertical-align: middle;
}
table.shop_table td small {
  font-weight: normal;
}
table.shop_table tbody:first-child tr:first-child th,
table.shop_table tbody:first-child tr:first-child td {
  border-top: 0;
}
table.shop_table tbody tr:nth-of-type(odd) {
  background: #f7f7f7;
}
table.shop_table #coupon_code {
  width: 100px !important;
}
table.shop_table tfoot td,
table.shop_table tfoot th,
table.shop_table tbody th {
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
table.my_account_orders {
  font-size: 0.85em;
}
table.my_account_orders th,
table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
table.my_account_orders .button {
  white-space: nowrap;
}
table.my_account_orders .order-actions {
  text-align: right;
}
table.my_account_orders .order-actions .button {
  margin: .125em 0 .125em .25em;
}
td.product-name dl.variation {
  margin: .25em 0;
}
td.product-name dl.variation dt,
td.product-name dl.variation dd {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
}
td.product-name dl.variation dt {
  font-weight: 700;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
td.product-name dl.variation dd {
  padding: 0 0 .25em 0;
}
td.product-name dl.variation dd p:last-child {
  margin-bottom: 0;
}
td.product-name p.backorder_notification {
  font-size: 0.83em;
}
td.product-quantity {
  min-width: 80px;
}
/**
 * Forms
 */
form ::-webkit-input-placeholder {
  position: relative;
  top: 2px;
}
form ::-moz-input-placeholder {
  position: relative;
  top: 2px;
}
form .form-row {
  padding: 3px;
  margin: 0 0 6px;
}
form .form-row [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -moz-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
form .form-row label {
  line-height: 2;
}
form .form-row label.hidden {
  visibility: hidden;
}
form .form-row label.inline {
  display: inline;
}
form .form-row select {
  cursor: pointer;
  margin: 0;
}
form .form-row .required {
  color: red;
  font-weight: 700;
  border: 0;
}
form .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
form .form-row input.input-text,
form .form-row textarea {
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: 1;
  background: #f7f7f7;
  border: solid 1px #ebebeb;
}
form .form-row select {
  background: #fff;
  border: solid 1px #ebebeb;
  outline: none;
}
form .form-row textarea {
  height: 4em;
  line-height: 1.5;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form .form-row .select2-container {
  width: 100%;
  line-height: 2em;
}
form .form-row.woocommerce-invalid .select2-container,
form .form-row.woocommerce-invalid input.input-text,
form .form-row.woocommerce-invalid select {
  border-color: red;
}
form.login,
form.checkout_coupon,
form.register {
  border: 1px solid #e6e6e6;
  padding: 10px;
  padding-top: 15px;
  margin: 1em 0 1em 0px;
  text-align: left;
  border-radius: 5px;
}
form.login .input-text,
form.checkout_coupon .input-text,
form.register .input-text {
  padding: 5px;
  padding-top: 6px;
}
form.login .form-row-last,
form.checkout_coupon .form-row-last,
form.register .form-row-last {
  float: left;
}
ul#shipping_method {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
ul#shipping_method li {
  margin: 0;
  padding: .25em 0 .25em 22px;
  text-indent: -22px;
  list-style: none outside;
}
ul#shipping_method .amount {
  font-weight: 700;
}
p.woocommerce-shipping-contents {
  margin: 0;
}
/**
 * Checkout
 */
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
  float: left;
  clear: none;
}
.woocommerce-checkout .checkout .col-2 .notes {
  clear: left;
}
.woocommerce-checkout .checkout .col-2 .form-row-first {
  clear: left;
}
.woocommerce-checkout .checkout .create-account small {
  font-size: 11px;
  font-weight: normal;
}
.woocommerce-checkout .checkout div.shipping-address {
  padding: 0;
  clear: left;
  width: 100%;
}
.woocommerce-checkout .checkout .shipping_address {
  clear: both;
}
.woocommerce-checkout #payment {
  background: #fff;
  border-radius: 5px;
}
.woocommerce-checkout #payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  list-style: none outside;
}
.woocommerce-checkout #payment ul.payment_methods li {
  line-height: 2;
  text-align: left;
  margin: 0;
  font-weight: normal;
}
.woocommerce-checkout #payment ul.payment_methods li input {
  margin: 0 1em 0 0;
}
.woocommerce-checkout #payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 0.5em;
  padding: 0;
  position: relative;
  box-shadow: none;
}
.woocommerce-checkout #payment ul.payment_methods li img + img {
  margin-left: 2px;
}
.woocommerce-checkout #payment div.form-row {
  padding: 1em;
}
.woocommerce-checkout #payment div.payment_box {
  position: relative;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0 1em 0;
  font-size: 0.92em;
  border-radius: 2px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #666;
}
.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box textarea {
  border-color: #d9d9d9;
  border-top-color: #cccccc;
}
.woocommerce-checkout #payment div.payment_box input.input-text::-webkit-input-placeholder,
.woocommerce-checkout #payment div.payment_box textarea::-webkit-input-placeholder {
  color: #666;
}
.woocommerce-checkout #payment div.payment_box input.input-text:-moz-placeholder,
.woocommerce-checkout #payment div.payment_box textarea:-moz-placeholder {
  color: #666;
}
.woocommerce-checkout #payment div.payment_box input.input-text::-moz-placeholder,
.woocommerce-checkout #payment div.payment_box textarea::-moz-placeholder {
  color: #666;
}
.woocommerce-checkout #payment div.payment_box input.input-text:-ms-input-placeholder,
.woocommerce-checkout #payment div.payment_box textarea:-ms-input-placeholder {
  color: #666;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc {
  font-size: 1.5em;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: right;
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.visa {
  background-image: url(../images/icons/credit-cards/visa.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard {
  background-image: url(../images/icons/credit-cards/mastercard.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.laser {
  background-image: url(../images/icons/credit-cards/laser.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub {
  background-image: url(../images/icons/credit-cards/diners.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.maestro {
  background-image: url(../images/icons/credit-cards/maestro.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.jcb {
  background-image: url(../images/icons/credit-cards/jcb.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.amex {
  background-image: url(../images/icons/credit-cards/amex.png);
}
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.discover {
  background-image: url(../images/icons/credit-cards/discover.png);
}
.woocommerce-checkout #payment div.payment_box span.help {
  font-size: .857em;
  color: #666;
  font-weight: normal;
}
.woocommerce-checkout #payment div.payment_box .form-row {
  margin: 0 0 1em;
}
.woocommerce-checkout #payment div.payment_box p:last-child {
  margin-bottom: 0;
}
.woocommerce-checkout #payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #f2f2f2;
  /* arrow size / color */
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -3px;
  left: 0;
  margin: -1em 0 0 2em;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  float: right;
  line-height: 52px;
  font-size: 0.83em;
  margin-left: 5px;
}
.woocommerce-checkout #payment .payment_method_paypal img {
  max-height: 52px;
  vertical-align: middle;
}
.woocommerce-checkout #place_order {
  background: #e6e6e6;
  font-weight: bold;
}
.woocommerce-checkout .select2-drop-active,
.woocommerce-checkout .select2-drop {
  border: solid 1px #e6e6e6;
  background: #fff;
}
.woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce-checkout .woocommerce-shipping-fields h3 {
  font-weight: bold;
  font-size: 14px;
}
.woocommerce-checkout .woocommerce-billing-fields h3 label,
.woocommerce-checkout .woocommerce-shipping-fields h3 label {
  display: inline-block;
}
.woocommerce {
  /**
	 * Cart sidebar
	 */
  /**
	 * Layered nav widget
	 */
  /**
	 * Price filter widget
	 */
}
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
  padding: 4px 0px;
  margin: 0;
  padding-left: 0px !important;
  list-style: none;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: block;
  font-weight: 700;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: left;
  margin-left: 0px;
  width: 48px;
  margin-right: 6px;
  height: auto;
  box-shadow: none;
}
.woocommerce ul.cart_list li .amount,
.woocommerce ul.product_list_widget li .amount {
  font-size: 12px;
  color: #666;
}
.woocommerce ul.cart_list li a.remove,
.woocommerce ul.product_list_widget li a.remove {
  display: inline-block;
  float: right;
  background: #d9d9d9;
}
.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
  margin: 0;
  padding-left: 1em;
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
  display: inline-block;
  float: none;
  margin-bottom: 0;
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt {
  font-weight: 700;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
  padding: 0 0 .25em 0;
}
.woocommerce ul.cart_list li dl dd p:last-child,
.woocommerce ul.product_list_widget li dl dd p:last-child {
  margin-bottom: 0;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
  float: none;
  margin: 0 !important;
}
.woocommerce ul.cart_list li img {
  width: 72px;
}
.woocommerce.widget_shopping_cart .total,
.woocommerce .widget_shopping_cart .total {
  border-top: 1px double #fff;
  padding: 4px 0 0;
  float: right;
}
.woocommerce.widget_shopping_cart .total strong,
.woocommerce .widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.woocommerce.widget_shopping_cart .buttons,
.woocommerce .widget_shopping_cart .buttons {
  float: right;
  display: block;
  clear: both;
}
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce .widget_shopping_cart .cart_list li {
  padding-left: 2em;
  position: relative;
  padding-top: 0;
}
.woocommerce.widget_shopping_cart .cart_list li a.remove,
.woocommerce .widget_shopping_cart .cart_list li a.remove {
  position: absolute;
  top: 0;
  left: 0;
}
.woocommerce .widget_top_rated_products ul li img {
  width: 64px;
}
.woocommerce .widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.woocommerce .widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
}
.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span {
  padding: 1px 0;
}
.woocommerce .widget_layered_nav ul li.chosen a:before {
  color: red;
}
.woocommerce .widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
  overflow: hidden;
  zoom: 1;
}
.woocommerce .widget_layered_nav_filters ul li {
  float: left;
  padding: 0 1px 1px 0;
  list-style: none;
}
.woocommerce .widget_layered_nav_filters ul li a {
  text-decoration: none;
}
.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1em;
  margin-top: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4;
  font-size: 0.8751em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  font-size: 1.15em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  float: left;
}
.woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: #e10d0d;
  border-radius: 1em;
  cursor: ew-resize;
  outline: none;
  top: -3px;
  margin-left: -0.5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #c90c0c;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #b10a0a;
  border: 0;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.woocommerce .widget_top_rated_products li a img {
  width: 72px;
}
.woocommerce .widget_top_rated_products .star-rating {
  float: left !important;
  width: calc( 100% - 100px );
}
.woocommerce #infinite-handle {
  display: none;
}
/**
 * Order page
 */
.order_details {
  margin: 0 0 1.5em;
  list-style: none;
}
.order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1;
  border-right: 1px dashed #e6e6e6;
  padding-right: 2em;
  margin-left: 0;
  padding-left: 0;
}
.order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5;
}
.order_details li:last-of-type {
  border: none;
}
#shipping_method label {
  margin-left: 25px !important;
}
.woocommerce-MyAccount-navigation {
  width: 100%;
  display: block;
  clear: both;
  overflow: auto;
  margin-bottom: 50px;
  background: #f0f0f0;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin-left: 0;
}
.woocommerce-MyAccount-navigation ul li {
  display: inline-block;
  float: left;
}
.woocommerce-MyAccount-navigation ul li a {
  display: inline-block;
  padding: 15px 10px;
  padding-top: 17px;
  line-height: 1em;
  color: #666;
}
.woocommerce-MyAccount-navigation ul li a:hover {
  background: #e6e6e6;
  color: #595959;
  text-decoration: none;
}
